<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="coins-calculator-container">
            <div class="inner coins-calculator">
                <h1>Coins Calculator</h1>
                <p id="info" class="lead">Coins Calculator is an application that parses a number of pennies entered in an input field and calculates the minimum number of Sterling coins needed to make that amount.</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" aria-describedby="info" placeholder="Enter the amount of money in GBP - British Pounds. For example, £16.23p">
                    </div>
                    <button type="button" class="btn btn-lg btn-secondary btn-block">Calculate</button>
                </form>
            </div>
        </div>
    </div>
</div>