<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="coins-calculator-container">
            <div class="inner coins-calculator">
                <h1 class="mt-4 mb-4">Coins Calculator</h1>
                <p id="info" class="lead">Coins Calculator is an application that parses a number of pennies entered in an input field and calculates the minimum number of Sterling coins needed to make that amount.</p>
                <form novalidate>
                    <div class="form-group">
                        <money-input 
                            [value]="moneyText$ | async" 
                            [errorMessage]="errorMessage$ | async" 
                            (valueChange)="moneyTextChange($event)" 
                            (complete)="calculate()">
                        </money-input>
                    </div>
                    <button type="button" class="btn btn-lg btn-secondary btn-block" 
                        (click)="calculate()">Calculate</button>
                </form>
                <coins-list [coinsWithAmount]="coinsList$ | async"></coins-list>
            </div>
        </div>
    </div>
</div>